<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.event</package>
	<author>OpenMRS</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>1.11.3, 1.10.2 - 1.10.*, 1.9.9 - 1.9.*</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>org.openmrs.module.event.EventActivator</activator>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
				
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<conditionalResources>
		<conditionalResource>
			<path>/lib/event-api-1.x.*</path>
			<openmrsVersion>1.9.9 - 1.12.*</openmrsVersion>
		</conditionalResource>
		<conditionalResource>
			<path>/lib/event-api-2.x.*</path>
			<openmrsVersion>2.0</openmrsVersion>
		</conditionalResource>
	</conditionalResources>

</module>

